@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
}

span {
    font-weight: 500;
}

.barra-mobile {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between; 
    width: 935px;
    margin: 0 auto;
    position: relative;
}

.conteudo {
    width: 614px;
}

.barra-fixa {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    border-bottom: 1px solid #DBDBDB;
    z-index: 1;
}

.barra-fixa .topo-mobile {
    display: none;
}

.barra-fixa .topo-desktop {
    width: 935px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.barra-fixa .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    font-size: 20px;
}

.barra-fixa .logo .borda {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}

.barra-fixa .pesquisa {
    width: 215px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #DBDBDB;
    text-align: center;
    color: #979797;
    background-color: #FAFAFA;
    font-size: 12px;
    font-weight: 400;
}

.barra-fixa .opcoes {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    font-size: 25px;
}

.caixa-stories {
    margin-top: 88px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    height: 118px;
    width: 614px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.caixa-stories .story {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 17px;
}

.caixa-stories .story .perfil-story{
    position: absolute;
    top: 4px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.caixa-stories .story .background{
    border-radius: 50%;
    width: 64px;
}

.caixa-stories .story p {
    padding-top: 10px;
    font-size: 12px;
    color: #262626;
    font-weight: 400;
}

.caixa-stories .story ion-icon {
    position: absolute;
    left: 15px;
    bottom: 25px;
    color: #FFFFFF;
    font-size: 29px;
    filter: drop-shadow(2px 4px 3px lightgray);
}

.caixa-posts {
    width: 614px;
    margin-top: 24px;
}

.post {
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB
}

.post .topo-post {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 612px;
    border-bottom: 1px solid #EFEFEF;
    position: relative;
}

.post .topo-post p {
    font-size: 14px;
    padding-left: 15px;
    font-weight: 500;
}

.post .topo-post ion-icon {
    position: absolute;
    right: 18px;
}

.post .topo-post .perfil-story {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post .postagem{
    height: 614px;
    width: 612px;
}

.post .baixo-post .icones {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 614px;
    font-size: 28px;
    position: relative;
}

.post .baixo-post .icones ion-icon {
    padding-right: 18px;
}

.post .baixo-post .icones ion-icon:last-child {
    position: absolute;
    right: 0;
}

.post .baixo-post .curtidas {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 300;
}

.post .baixo-post .curtidas .perfil-curtida {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post .comentarios {
    padding: 15px 15px;
    font-size: 14px;
}

.post .comentarios p {
    margin-bottom: 15px;
}

.post .comentarios .coment {
    display: flex;
    position: relative;
}

.post .comentarios .coment ion-icon {
    position: absolute;
    right: 0;
}

.post .comentarios .publicar {
    width: 612px;
    margin-left: -15px;
    padding: 0 15px;
    border-top: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
}

.post .comentarios .publicar ion-icon {
    font-size: 32px;
    padding: 15px 10px 0 0;
}

.post .comentarios .publicar input {
    border: none;
    padding-top: 18px ;
    width: 520px;
}

.post .comentarios .publicar input:focus {
    outline: none;
}

.post .comentarios .publicar button {
    background-color: inherit;
    border: none;
    padding-top: 18px;
    color: #B2DFFC;
    transition: color 300ms;
}

.post .comentarios .publicar button:hover {
    color: #0095F6;
}

.sidebar {
    width: 293px;
    margin-top: 88px;
    position: absolute;
    top: 20px;
    right: 0;
}

.sidebar-fixed {
    position: fixed;
    width: 293px;
}

.sidebar .topo-sidebar {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.sidebar .perfil-dono {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    object-fit: cover;
    margin-right: 10px;
}

.sidebar .sugestoes {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.sidebar .sugestoes .perfil {
    padding-top: 18px;
    display: flex;
}

.sidebar .nome {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 6px;
}

.sidebar .sugestoes .opcao {
    text-align: right;
    height: 100%;
}

.sidebar .sugestoes .opcao :first-child {
    margin-bottom: 27px;
}

.sidebar .sugestoes .perfil-sugestao {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    object-fit: cover;
    margin-right: 14px;
}

.bold {
    font-weight: 500;
}

.gray {
    color: #8E8E8E
}

.blue {
    color: #139EF2;
    margin-bottom: 38px;
}

.apelido {
    font-size: 14px;
    font-weight: 300;
}

.extra {
    color: #c7c7c7;
    font-size: 11px;
    margin-bottom: 20px;
}

@media (max-width: 935px) {

    .sidebar {
        display: none;
    }

    .barra-fixa .topo {
        width: 100%;
    }

    .container {
        width: 100%;
        justify-content: center;
    }

}

@media (max-width: 614px) {

    .conteudo {
        width: 100%;
    }

    .barra-fixa .topo {
        display: none;
    }

    .barra-fixa .topo-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 18px;
        font-size: 25px;
    }

    .barra-fixa .topo-mobile img {
        padding-top: 5px;
    }

    .caixa-stories {
        border: none;
        background-color: inherit;
        margin-top: 54px;
    }

    .caixa-stories ion-icon {
        display: none;
    }

    .caixa-posts {
        margin-top: 0;
    }

    .barra-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 54px;
        border-top: 1px solid #DBDBDB;
        background-color: #FFFFFF;
        font-size: 25px;
    }
}